
body {
    background-color: lavender;
}
h1 {
    color: midnightblue;
    text-align: center;
}
h2{
    color: mediumvioletred;
    text-align: center;
}
h3{
    color: black;
    font-style: italic;
}
h4{

    @extend h3;
}
